/* ========GLOBAL-STYLES========= */
:root {
  --general-text: #312c27;
  --accent-text: #000000;
  --general-bg: #eeeeee;
  --accent-bg: #ffffff;
  --accent-color: #37599b;
  --transition: all 0.3s;
  --border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vw;
}

* {
  box-sizing: border-box;
}

.body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: var(--general-bg);
  color: var(--general-text);
}

.container {
  max-width: 1330px; /* 1300 + 30 */
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.overflow {
  display: none;
  position: absolute;
  inset: 0;
  background: #0000005d;
  z-index: 5;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.overflow.active {
  display: block;
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

.body--opened-menu {
  overflow: hidden;
}

/* ============================= */
