/* ========GLOBAL-STYLES========= */
:root {
  --general-text: #312c27;
  --accent-text: #000000;
  --general-bg: #eeeeee;
  --accent-bg: #ffffff;
  --accent-color: #37599b;
  --transition: all 0.3s;
  --border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vw;
}

* {
  box-sizing: border-box;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: var(--general-bg);
  color: var(--general-text);
}

.container {
  max-width: 1330px; /* 1300 + 30 */
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.overflow {
  display: none;
  position: absolute;
  inset: 0;
  background: #0000005d;
  z-index: 5;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.overflow.active {
  display: block;
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

.body--opened-menu {
  overflow: hidden;
}

.map,
.stories,
.tests {
  padding-bottom: 150px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.45833;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px 20px;
  flex-wrap: wrap;
}
.tags__item {
  padding: 12px 24px;
  border: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
}
.tags__item.active {
  background: #37599b;
  color: #fff;
}

.button {
  border-radius: 34px;
  padding: 16px 27px;
  font-weight: 600;
  font-size: 16px;
  max-width: 229px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  transition: var(--transition);
  background-color: var(--accent-color);
}
.button:hover {
  background: #25395f;
}
.button:active {
  background: #25395f;
}
.button-2 {
  gap: 26px;
  align-self: end;
  margin-left: auto;
}
/* ============================= */
@media (max-width: 768px) {
  .map,
  .stories,
  .tests {
    padding-bottom: 100px;
  }

  .title {
    font-size: 38px;
    line-height: 1;
  }
}

@media (max-width: 520px) {
  .tags {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px 8px;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .tags__item {
    padding: 8px 20px;
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 36px;
  }
}
