@import url("global.css");
@import url("header-footer.css");

/* =======HERO======= */

.hero {
  padding-top: 68px;
  padding-bottom: 210px;
}

.hero__top {
  margin-bottom: 41px;
}
.hero__top-descr {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 14px 20px;
}
.hero__descr {
  max-width: 341px;
}
.hero__title {
  font-size: 70px;
  line-height: 1;
  padding-top: 32px;
}

.hero__image-cont {
  position: relative;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: var(--border-radius);
}
.hero__image-btn {
  position: absolute;
  right: 50%;
  outline: 15px solid var(--general-bg);
  border-radius: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 149px;
  height: 149px;
  font-size: 20px;
}
.hero__image-btn:active {
  outline: 15px solid var(--general-bg);
  box-shadow: inset 5px 4px 5px rgba(0, 0, 0, 0.4);
}
.stories__slider

/* =======MAP========== */

.main__title {
  margin-bottom: 25px;
}
.main__descr {
  max-width: 530px;
  width: 100%;
  margin-bottom: 61px;
}
.map__descr {
  margin-bottom: 81px;
  max-width: 600px;
}

.map__image-cont {
  margin-bottom: 84px;
}
.map__image-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.map__image-descr {
  color: #383838;
}

/* =======STORIES======== */
.stories {
  background: url(../img/decor/Vector.svg) no-repeat;
  background-position: 50% 70%;
  background-size: contain;
}
.stories__slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.stories__slider-wrapper {
  margin-bottom: 60px;
  /* justify-content: center; */
}
.stories__slider-wrapper,
.tests__block-list {
  margin-bottom: 60px;
}
.stories__slider-btn-cont {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 28px;
  margin-bottom: 26px;
}
.stories__slider-button {
  border: 1px solid #000;
  border-radius: 50%;
  width: 61px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);
}
.stories__slider-button:hover {
  background: var(--accent-color);
  border: none;
}
.stories__slider-button:hover path {
  fill: var(--general-bg);
}
.stories__slide {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;
  width: auto !important;
}
.stories__slide img {
  width: auto;
  height: auto;
  object-position: center;
  display: block;
}
.stories__slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(22, 22, 22, 0) 0%, #000 100%);
  z-index: 1;
}
.stories__slide:hover::before {
  opacity: 1;
}
.stories__slide-info {
  position: absolute;
  bottom: 0;
  padding: 38px 28px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  z-index: 2;
}
.stories__slide::before,
.stories__slide-info {
  opacity: 0;
  transition: var(--transition);
}
.stories__slide:hover::before,
.stories__slide:hover .stories__slide-info {
  opacity: 1;
}

.stories__slide-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 13px;
}
.stories__slie-descr {
  max-width: 300px;
}

/* =======TESTS====== */

.tests {
  background: url(../img/decor/Vector-2.svg) no-repeat;
  background-position: 50% 70%;
  background-size: contain;
}

.tests__block-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tests__block {
  max-width: 420px;
  height: 450px;
  padding: 25px 25px 45px;
  background: #fff;
  border-radius: var(--border-radius);
  cursor: pointer;
  overflow: hidden;
}
.tests__block-image {
  width: 100%;
  height: 305px;
  border-radius: var(--border-radius);
  margin-bottom: 37px;
  object-fit: cover;
  object-position: center top;
  transition: var(--transition);
}
.tests__block-title {
  font-weight: 700;
  font-size: 20px;
}
.tests__block-descr {
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 37px;
}

.tests__block-descr,
.tests__block-btn {
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.tests__block:hover .tests__block-image {
  height: 166px;
  object-fit: cover;
}
.tests__block:hover .tests__block-descr,
.tests__block:hover .tests__block-btn {
  visibility: visible;
  opacity: 1;
}

/* ========MEDIA========== */

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
  /* ---hero--- */
  .hero__top {
    margin-bottom: 30px;
  }
  .hero__title {
    font-size: 46px;
  }
  .hero__image-btn {
    width: 129px;
    height: 129px;
    outline: 10px solid var(--general-bg);
  }
}

@media (max-width: 768px) {
  /* ---hero--- */
  .hero {
    padding-bottom: 150px;
  }
  .hero__title {
    font-size: 40px;
    padding-top: 20px;
  }
  .hero__top-descr {
    flex-direction: column;
    align-items: start;
  }
  .hero__descr {
    align-self: flex-end;
  }

  .hero__image-btn {
    width: 109px;
    height: 109px;
    outline: 6px solid var(--general-bg);
    font-size: 16px;
  }

  /* ---map--- */
  .main__title {
    margin-bottom: 14px;
  }
  .main__descr {
    margin-bottom: 61px;
  }
  .map__image-cont {
    margin-bottom: 44px;
  }

  /* ---stories--- */
  .main__descr {
    margin-bottom: 41px;
  }
  .stories__slider-btn-cont {
    gap: 3vw;
    margin-bottom: 14px;
  }
  .stories__slider-wrapper,
  .tests__block-list {
    margin-bottom: 40px;
  }
}

@media (max-width: 520px) {
  /* --stories-- */
  .stories__slider-button {
    width: 51px;
    height: 51px;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .hero {
    padding-bottom: 100px;
  }
  .hero__image-btn {
    width: 89px;
    height: 89px;
    outline: 4px solid #fff;
    font-size: 14px;
  }

  /* ---map--- */
  .main__descr {
    margin-bottom: 40px;
  }
  .map__image-cont {
    margin-bottom: 14px;
  }
}
